*{
    box-sizing: border-box;
}

body{
    background: rgb(251,185,222);
    background: linear-gradient(112deg, rgba(251,185,222,1) 0%, rgba(139,247,249,1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.container{
    width: 80%;
    height: 60%;
    position: relative;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 20px;
    background: inherit;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

nav{
    display: flex; 
    justify-content: space-between;
    padding: 15px 30px;
    font-weight: bold;
}

ul{
   list-style: none;
   display: flex;
   color: white;
   padding: 0;
}

li{
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.active{
    background-color: #FC8828;
    padding: 3px 10px ;
    border-radius: 15px;
}

.content{
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}

.container img{
    animation: move 3s infinite alternate ease-in-out;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
}

.content-text{
    color: white;
    width: 100%;
    padding: 0 50px;
}

.pre-order{
    background-color: #F85A26;
    margin-left: auto;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 8px 0 0 0;
}

.pre-order svg{
    margin-right: 15px;
}

.right{
    text-align: right;
    margin-top: 170px;
}

.left{
    margin-top: -300px;
}

h1{
    font-size: 56px;
}

h1, h3{
    margin: 0;
}

.social-media{
    display: flex;
    flex-direction: column;
    color: white;
    width: fit-content;
    height: 100%;
    justify-content: center;

}

.social-media svg{
    margin: 15px 30px;
}

@keyframes move{
    from{
        transform: translate(-50%, -55%) rotate(-25deg) ;
    }
}

@-webkit-keyframes move{
    from{
        transform: translateY(-50%, -55%) rotate(-25deg);
    }
}